
.ex-container{
    width: 300px;
    height: 375px;
    background-color: red;
    background-image: url('./img/bg.jpg');
    background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}

.ex-header{
    text-align: end;
}

.ex-city{
    font-size: 2.1rem;
    margin: 8px 0px 0px 0px;
    color: #ffe373;
}

.ex-settings{
    margin: none;
    font-size: 1rem;
    color: #ffe373;
    cursor: pointer;
}

.main-title{
    text-align: center;
}
.main-timer{
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.time-list{
    font-size: 1.3rem;
    font-weight: bold;
}

.main-hr{
    border: 1px solid #ffe373;
    opacity: 0.8;
}

.ex-main{
    width: 80%;
    height: 75%;
    background-color: rgba(75, 92, 99,0.67);
    border-radius: 2px;
}